<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap.css">
</head>
<body>


    <header>
        <a href="#" class="logo">MTAshop</a>
        <ul>
            <li><a href="#"> <i class="fa-solid fa-house activebtn"></i><span class="active"> Home</span></a></li>
            <li><a href="shop.html"> <i class="fa-solid fa-shop"></i><span> Shop</span></a></li>
            <li><a href="#"><i class="fa-solid fa-address-card"></i></i><span> About</span></a></li>
            <li><a href="#"> <i class="fa-solid fa-cart-shopping"></i> <span> Cart</span></a></li>
            <li><a href="#"> <i class="fa-solid fa-user"></i> <span> Login</span></a></li>
            <button onclick="dark()">Dark mode</button>
        </ul>
    </header>

    <div tyle class="slider">


        <div class="list">

            <div class="item">
                <img src="../Images/img1.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">FLOWER</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../Images/img2.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">FLOWER</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../Images/img3.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../Images/img4.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">PLANT</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../Images/img2.jpg" alt="">

                <div class="content">
                    <div class="title">MAGIC SLIDER</div>
                    <div class="type">NATURE</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus quis eum consequuntur voluptate quae doloribus distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, aut.
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>

        </div>


        <div class="thumbnail">

            <div class="item">
                <img src="../Images/img1.jpg" alt="">
            </div>
            <div class="item">
                <img src="../Images/img2.jpg" alt="">
            </div>
            <div class="item">
                <img src="../Images/img3.jpg" alt="">
            </div>
            <div class="item">
                <img src="../Images/img4.jpg" alt="">
            </div>
            <div class="item">
                <img src="../Images/img2.jpg" alt="">
            </div>

        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>


    </div>


<!-- Start of feature section -->

    <div class="container-fluid bg-dark text-center mt-5 p-3">
        <h1 style="color: #14ff72cb;">Features</h1>
    </div>

    <div class="container mt-0 ">
        <div class="d-flex flex-column flex-wrap flex-md-row flex-lg-row justify-content-around">
            
            <div class="p-2">
                <div style="background-color:rgba(255, 89, 13,.5) ;" class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/free-shipping.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgba(255, 89, 13);  color:white;font-size: 22px;" class="text-center mt-2 mb-0 rounded">
                        Free Shiping
                    </p>
                </div>
            </div>

            <div class="p-2">
                <div  style="background-color:rgba(240, 17, 17, .5) ;" class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/onlineorder.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgb(240, 17, 17); color:white ; font-size: 22px;" class="text-center mt-2 mb-0 rounded">
                        Online Order
                    </p>
                </div>
            </div>

            <div  class="p-2">
                <div style="background-color: rgb(240, 25, 211, .5);" class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/savemoney.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgb(240, 25, 211); color: white; font-size: 22px;" class="text-center mt-2 mb-0 rounded">
                        Save Money
                    </p>
                </div>
            </div>

            <div class="p-2">
                <div style="background-color: rgb(235, 92, 187, .5) ;" class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/promotion.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgb(235, 92, 187) ; color: white; font-size: 22px;" class="text-center mt-2 mb-0 rounded">
                        Promotions
                    </p>
                </div>
            </div>

            <div class="p-2">
                <div style="background-color: rgba(55, 89, 243, .5);" class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/happsell.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgba(55, 89, 243); color:white; font-size: 22px;" class="text-center mt-2 mb-0  rounded">
                        Happy Sell
                    </p>
                </div>
            </div>

            <div class="p-2">
                <div style="background-color: rgba(0, 144, 163, .5); " class="de-flex flex-clumn shadow-sm  rounded p-2 m-2">
                    <img style="width: 150px; height: 150px;" src="../Images/support.png" class="rounded mx-auto d-block" alt="...">
                    <p style="background-color: rgb(0, 144, 163); color: white; font-size: 22px;" class="text-center mt-2 mb-0 rounded">
                        F24/7 Support
                    </p>
                </div>
            </div>
            

        </div>
    </div>

    <!-- Featured Product section -->
    <div class="container-fluid bg-dark text-center mt-5 p-3">
        <h1 style="color: #14ff72cb;">Featured Products</h1>
        <p style="color: white;" >Summur collections</p>
    </div>
    <div class="container mt-0">
        <div class="d-flex align-content-stretch flex-wrap flex-column flex-md-row flex-lg-row justify-content-around ">

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <!-- <div class="tag">New</div> -->
                        <img src="../Images/t-shirt1.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Full Sleeve T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;600  </span>
                        <span class="current-price">&#2547;499</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt2.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Hulf Check T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;900  </span>
                        <span class="current-price">&#2547;599</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt3.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve Black T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1200  </span>
                        <span class="current-price">&#2547;999</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <!-- <div class="tag">New</div> -->
                        <img src="../Images/t-shirt4.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Gray Half T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;800  </span>
                        <span class="current-price">&#2547;499</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt5.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1200  </span>
                        <span class="current-price">&#2547;999</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <!-- <div class="tag">New</div> -->
                        <img src="../Images/t-shirt6.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Full Sleeve red T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1000  </span>
                        <span class="current-price">&#2547;799</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <!-- <div class="tag">New</div> -->
                        <img src="../Images/shirt1.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Men's Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1000  </span>
                        <span class="current-price">&#2547;699</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/shirt2.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1500  </span>
                        <span class="current-price">&#2547;1299</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            

        </div>
    </div>

    <!-- go to action -->

    <div class="container-fluid mt-5  gotoaction">
        <div class="action-content d-flex flex-column mx-auto">
            <div class="text-center mt-5">
                <p>Repair Services</p>
            </div>
            <div class="text-center">
                <h3>Up to <span>70% off</span> - all T-shirts and Accessories...</h3>
            </div>
            <div class="text-center">
                <a href="#">
                    <button>View more</button>
                </a>
            </div>
        </div>
    </div>

    <!-- new arrival -->

    <div class="container-fluid text-center mt-5 p-3">
        <h1 style="color: #14ff72cb;">New Arrivals</h1>
        <p style="color: rgb(0, 0, 0);" >Summur collections</p>
    </div>
    <div class="container mt-0">
        <div class="d-flex align-content-stretch   flex-wrap  flex-column flex-md-row flex-lg-row justify-content-around ">

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt1.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Full Sleeve T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;600  </span>
                        <span class="current-price">&#2547;499</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt2.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Hulf Check T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;900  </span>
                        <span class="current-price">&#2547;599</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt3.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve Black T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1200  </span>
                        <span class="current-price">&#2547;999</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt4.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Gray Half T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;800  </span>
                        <span class="current-price">&#2547;499</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt5.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1200  </span>
                        <span class="current-price">&#2547;999</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/t-shirt6.jpeg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Full Sleeve red T-Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1000  </span>
                        <span class="current-price">&#2547;799</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/shirt1.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Men's Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1000  </span>
                        <span class="current-price">&#2547;699</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 image_content">
                <div style="background-color:rgba(255, 255, 255, 0.5) ;" class="de-flex flex-clumn border shadow-sm  rounded p-2 m-2">
                    <div class="image rounded">
                        <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                        <div class="tag">New</div>
                        <img src="../Images/shirt2.jpg" alt="">
                    </div>
                    <div class="brand">Random</div>
                    <div class="prodname">Half Sleeve Shirt</div>
                    <div>
                        <span class="prev-price">&#2547;1500  </span>
                        <span class="current-price">&#2547;1299</span>
                    </div>
                    <div class="text-end rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Banner section -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 p-2">
                <div class="banner-1 w-100"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 p-2">
                <div class="banner-2 w-100"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 p-2">
                <div class="banner-3 w-100"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 p-2">
                <div class="banner-4 w-100"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 p-2">
                <div class="banner-5 w-100"></div>
            </div>
        </div>
    </div>

    <!-- newsletter -->

    <div class="container-fluid w-100 mb-5 news">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                <div class="w-100 d-flex flex-column heading">
                    <h1>Sign up for newsletters....</h1>
                    <p>Get E-mail updates about our latest shop and <span> special offers</span> </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 p-2 news-email mt-auto mb-auto text-center">
                <div style="color: white;" class="w-100 shadow-sm">
                    <input class="newsletter-email" placeholder="Enter Email" type="email">
                    <button class="">Sugn up</button>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
     <div class="footer-main container-fluid mt-5">
        <div class="col-lg-6 col-md-12 col-sm-12 p-2">
            <div style="color: white;" class="w-100">
                signup
            </div>
        </div>
     </div>

</body>
<script src="../static/JS/bootstrap.js"></script>
<script src="../static/JS/index.js"></script>
</html>