<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap.css">
</head>
<body>


    <header>
        <a href="#" class="logo">MTAshop</a>
        <ul>
            <li><a href="index.html"> <i class="fa-solid fa-house "></i><span > Home</span></a></li>
            <li><a href="shop.html"> <i class="fa-solid fa-shop activebtn"></i><span class="active"> Shop</span></a></li>
            <li><a href="blog.html"><i class="fa-solid fa-blog"></i><span> Blog</span></a></li>
            <li><a href="#"><i class="fa-solid fa-address-card"></i></i><span> About</span></a></li>
            <li><a href="#"> <i class="fa-solid fa-cart-shopping"></i> <span> Cart</span></a></li>
            <li><a href="#"> <i class="fa-solid fa-user"></i> <span> Login</span></a></li>
        </ul>
    </header>

    <div class="container-fluid shop-header">
        <div>
            <p>#mtashop <span>buy the best</span> </p>
        </div>
    </div>

    <!-- Products -->
    <div class="container-fluid mt-3 ">
        <div class="row mb-5">

            <div class="col-lg-3 col-md-12 col-sm-12 aside">
                <div class="w-100 aside-content">
                    <p class="h1 m-4">Filter</p>
                        
                    <form action="#">
                        <!-- Category -->
                         <div class="row">

                            <div class="category col-lg-6 col-md-12 col-sm-12 mt-2">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Select Category</option>
                                    <option value="shirt">Shirt</option>
                                    <option value="pant">Pant</option>
                                    <option value="t-shirt">T-shirt</option>
                                    <option value="panjabi">Panjabi</option>
                                    <option value="shue">Shue</option>
                                </select>
                            </div>
    
                            <!-- Gender -->
                            <div class="gender col-lg-6 col-md-12 col-sm-12 mt-2">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="child">child</option>
                                </select>
                            </div>

                         </div>


                        <!-- Submit -->
                         <div class="text-end">
                            <button class="filter-btn" type="submit">Filter</button>
                         </div>
                    </form>

                </div>
            </div>

            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="w-100 product-container">

                    <div class="d-flex align-content-stretch flex-wrap flex-column flex-md-row flex-lg-row justify-content-start ">

                        <div class="p-2 image_content">
                            <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                                <div class="image rounded">
                                    <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                                    <div class="tag">New</div>
                                    <img src="../Images/t-shirt1.jpeg" alt="">
                                </div>
                                <div class="brand">Random</div>
                                <div class="prodname">
                                    <a style="text-decoration: none; color: #000;" href="product_details.html">
                                        Full Sleeve T-Shirt
                                    </a>
                                </div>
                                <div>
                                    <span class="prev-price">&#2547;600  </span>
                                    <span class="current-price">&#2547;499</span>
                                </div>
                                <div class="text-end rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
            
                        <div class="p-2 image_content">
                            <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                                <div class="image rounded">
                                    <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                                    <div class="tag">New</div>
                                    <img src="../Images/t-shirt1.jpeg" alt="">
                                </div>
                                <div class="brand">Random</div>
                                <div class="prodname">
                                    <a style="text-decoration: none; color: #000;" href="product_details.html">
                                        Full Sleeve T-Shirt
                                    </a>
                                </div>
                                <div>
                                    <span class="prev-price">&#2547;600  </span>
                                    <span class="current-price">&#2547;499</span>
                                </div>
                                <div class="text-end rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
            
                        <div class="p-2 image_content">
                            <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                                <div class="image rounded">
                                    <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                                    <div class="tag">New</div>
                                    <img src="../Images/t-shirt1.jpeg" alt="">
                                </div>
                                <div class="brand">Random</div>
                                <div class="prodname">
                                    <a style="text-decoration: none; color: #000;" href="product_details.html">
                                        Full Sleeve T-Shirt
                                    </a>
                                </div>
                                <div>
                                    <span class="prev-price">&#2547;600  </span>
                                    <span class="current-price">&#2547;499</span>
                                </div>
                                <div class="text-end rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
            
                        <div class="p-2 image_content">
                            <div style="background-color:rgba(255, 255, 255, 0.5) ;" class=" de-flex flex-clumn border shadow-sm  rounded p-2 m-2 ">
                                <div class="image rounded">
                                    <div class="cartbtn"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
                                    <div class="tag">New</div>
                                    <img src="../Images/t-shirt1.jpeg" alt="">
                                </div>
                                <div class="brand">Random</div>
                                <div class="prodname">
                                    <a style="text-decoration: none; color: #000;" href="product_details.html">
                                        Full Sleeve T-Shirt
                                    </a>
                                </div>
                                <div>
                                    <span class="prev-price">&#2547;600  </span>
                                    <span class="current-price">&#2547;499</span>
                                </div>
                                <div class="text-end rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- newsletter -->

        <div class="container-fluid w-100 mb-5 news">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="w-100 d-flex flex-column heading">
                        <h1>Sign up for newsletters....</h1>
                        <p>Get E-mail updates about our latest shop and <span> special offers</span> </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 p-2 news-email mt-auto mb-auto text-center">
                    <div style="color: white;" class="w-100 shadow-sm">
                        <input class="newsletter-email" placeholder="e.g.@gmail.com" type="email">
                        <button class="">Sugn up</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of news letter -->

            <!-- footer -->
     <div class="footer-main container-fluid mt-5 row">
        <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column p-2">
            <div  class="w-75 mx-auto">
                <p class="h1">MTAshop</p>
            </div>
            <div  class="w-75 mx-auto">
                <p style="color: rgba(0, 0, 0);" class="h5">Contact</p>
                <hr>
                <p style="color: rgba(0, 0, 0);" class="h5"><b>Address: </b> <span style="color: rgba(0, 0, 0, 0.5);">Address here</span></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><b>Phone: </b> <span style="color: rgba(0, 0, 0, 0.5);">Address here</span></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><b>Hours: </b> <span style="color: rgba(0, 0, 0, 0.5);">Address here</span></p>
            </div>
            <div class="w-75 mx-auto mt-5">
                <p class="h4">Follow us</p>
                <div class="links">
                    <a style="text-decoration: none; color: #000;" href="https://www.facebook.com/titanvir01" target="_blank">
                        <i class="fa-brands fa-facebook fa-fw"></i>
                    </a>
                    <a style="text-decoration: none; color: #000;" href="#">
                        <i class="fa-brands fa-twitter fa-fw"></i>
                    </a>
                    <a style="text-decoration: none; color: #000;" href="#">
                        <i class="fa-brands fa-instagram fa-fw"></i>
                    </a>
                    <a style="text-decoration: none; color: #000;" href="https://www.youtube.com/@titechbd" target="_blank">
                        <i style="color: red;" class="fa-brands fa-youtube fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 p-2">

            <div  class="w-75 mx-auto about_section">
                <p style="color: rgba(0, 0, 0);" class="h4">About</p>
                <hr>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">About Us</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Delivery Information</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Privecy Policy</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Terms & Conditions</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Contact Us</span></a></p>
            </div>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 p-2">
            <div  class="w-75 mx-auto about_section">
                <p style="color: rgba(0, 0, 0);" class="h4">My Account</p>
                <hr>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Sign In</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">View Cart</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">My Wishlist</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Trac My Order</span></a></p>
                <p style="color: rgba(0, 0, 0);" class="h5"><a style="text-decoration: none;" href="#"><span style="color: rgba(0, 0, 0, 0.5);">Help</span></a></p>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 p-2">
            <div  class="w-75 mx-auto about_section">
                <p style="color: rgba(0, 0, 0);" class="h4">Install App</p>
                <hr>
                <p style="color: rgba(0, 0, 0);" class="h5"><span style="color: rgba(0, 0, 0, 0.5);">From App Store or Google Play</span></p>
                <div class="mt-3 mb-5 d-flex justify-content-start">
                    <a href="#">
                        <img class="w-75 border rounded shadow-sm"  src="../Images/googplay.png" alt="">
                    </a>
                    <a href="#">
                        <img class="w-75 border rounded shadow-sm"  src="../Images/appstore.png" alt="">
                    </a>
                </div>
                <p style="color: rgba(0, 0, 0);" class="h5"><span style="color: rgba(0, 0, 0, 0.5);">Secured Payment Geteways</span></p>
                <div class="links">
                    <a style="text-decoration: none; color: #000;" href="https://www.facebook.com/titanvir01" target="_blank">
                        <i class="fa-brands fa-cc-visa"></i>
                    </a>
                    <a style="text-decoration: none; color: #000;" href="#">
                        <i class="fa-brands fa-cc-mastercard"></i>
                    </a>
                    <a style="text-decoration: none; color: #000;" href="#">
                        <img style="height: 25px;" class=" rounded"  src="../Images/bkash.png" alt="">
                    </a>
                    <a style="text-decoration: none; color: #000;" href="https://www.youtube.com/@titechbd" target="_blank">
                        <img style="height: 25px;" class=" rounded"  src="../Images/nagad.png" alt="">
                    </a>
                </div>
            </div>
        </div>
     </div>
     <!-- end of footer -->

</body>
<script src="../static/JS/bootstrap.js"></script>
<script src="../static/JS/index.js"></script>
</html>